* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

body {
  background-color: darkslategray;
}

html {
  scroll-behavior: smooth;
}

:root {
  --underline-color: #ce3659;
  --modal-background-color: rgba(255, 255, 255, 0.2);
  --location-font-size: 4rem;
  --temp-font-size: 3rem;
  --other-font-size: 2rem;
  --modal-border: 2%;
}

.informationWrapper {
  display: flex;
  flex-flow: column;
  background-color: var(--modal-background-color);
  max-width: 30em;
  margin: 5rem 3rem;
  height: 80vh;
  border-radius: var(--modal-border);
  border: 2px solid white;
  text-align: center;
}

.location {
  display: inline-block;
  text-align: center;
  margin: 3rem;
  font-size: var(--other-font-size);
}

.temp {
  margin: 1rem;
  font-size: var(--temp-font-size);
}

.feelsLike {
  font-size: 1rem;
}

.mainWrapper {
}
