* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

body {
  background: url("./assets/cloudy.jpg") no-repeat center center fixed;
}

html {
  scroll-behavior: smooth;
}

:root {
  --underline-color: #ce3659;
  --modal-background-color: rgba(255, 255, 255, 0.3);
  --location-font-size: 4rem;
  --temp-font-size: 3rem;
  --other-font-size: 2rem;
  --modal-border: 2%;
}

.informationWrapper {
  display: flex;
  flex-flow: column;
  background-color: var(--modal-background-color);
  max-width: 30em;
  margin: 5rem auto;
  height: 80vh;
  text-align: center;
}

.location {
  display: inline-block;
  text-align: center;
  margin: 4rem 4rem 0 4rem;
  font-size: var(--other-font-size);
}

.temp {
  margin: 1rem;
  font-size: var(--temp-font-size);
}

.feelslikeWrapper {
  position: relative;
  font-size: 1.5rem;
  margin: 3rem;
}

.feelsLike {
  position: absolute;
  left: 10px;
  opacity: 0.7;
}

.mainWeather {
  margin: 5rem 0;
}
.line {
  width: 80%;
  margin: 0 auto 1rem auto;
  height: 1px;
  background-color: blue;
}
